<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <base href="/">
</head>
<body>
    <app-root></app-root>
    <script src="~/dist/TestApp/polyfills.js"></script>
    <script src="~/dist/TestApp/main.js"></script>
    <script src="~/dist/TestApp/runtime.js"></script>
    <script src="~/dist/TestApp/styles.js"></script>
    <script src="~/dist/TestApp/vendor.js"></script>
</body>
</html>
