@import '~bootstrap/scss/bootstrap-reboot';
//@import '~bootstrap/scss/bootstrap-grid';
@import "../node_modules/bootstrap/scss/bootstrap";

* {
    &:active,
    :focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

label {
    margin-bottom: 0;
}

.middle-wnd {
    margin: 0 auto;
    width: 400px;
}
